@import '../../static/scss/variables/variables.scss';
.weather{
      width: 100%;
  position: relative;
  box-shadow: 2px 2px 5px gray;

  
  &__background{
      width: 100%;
  }


  &__error{
      color: $errorFontColor;
  }
}
