@import '../../../static/scss/variables/variables.scss';
.weatherDetails {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $mainFontColor;
    background-color: white;
    padding-bottom: 1rem;
    &__temp {
        margin: 0;
        padding: 1rem 0 0 0;
        color: $secondaryFontColor;
    }
    &__tempList {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        li {
            // border: solid red 1px;
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            font-size: 0.9rem;
            padding: 0 1rem;
            i {
                flex: 1 1 0px;
                //border: solid 1px blue;
                font-size: 2rem;
                display: block;
                color: $secondaryFontColor;
            }
            div {
                flex: 1 1 0px;
                //border:solid red 1px;
                text-align: start;
            }
            p {
                color: $mainFontColor;
                margin: 0;
            }
            small {
                font-weight: bold;
                color: $secondaryFontColor;
            }
        }
    }
    &__city {
        margin: 0.5rem 0;
    }
    &__description {
        margin: 0.5rem 0;
    }
    &__image {
        position: relative;
        top: -50px;
        margin-bottom: -50px;
        border-radius: 50%;
        width: 100px;
        background-color: white;
    }
}